<!DOCTYPE html>
<html lang="en">

<head> 
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta http-equiv=" X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta name="theme-color" content="#002e6f" />
	<meta name="description" content="Login page for accessing Unity Books Sales Dashboard">
	<title>Dashboard | Sales Dashboard | Unitybooks.In</title>
	<link rel="icon" href="../img/logo.webp" type="image/x-icon">
	<link rel="stylesheet" href="/css/admin.css">
	<link rel="stylesheet" media="screen and (min-width: 801px) and (max-width: 1200px)" href="/css/adminTablet.css">
	<link rel="stylesheet" media="screen and (max-width: 800px)" href="/css/adminPhone.css">
	<link rel="stylesheet" href="/css/adminDashboard.css">
</head>

<body class="flex-colunm">
	<header class="topbar"></header>
	<section class="mainPage flex-row">
		<nav class="sidebar flex-colunm"></nav>
		<main class="screen">

		</main> 
	</section>
	<script src="/js/admin-topbar.js" defer></script>
	<script src="/js/admin-sidebar.js" defer></script>
	<!-- <script src="/js/adminDashboard.js" defer></script> -->
</body>

</html>