<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta http-equiv=" X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="theme-color" content="#002e6f" />
    <meta name="description"
        content="Unity Books is the best online book store in India , offers a wide range of books from novels to school and college textbooks and high-quality services, which gives the customers an outstanding experience.">
    <title>Unity Books | Best Online Book Store in India | Unitybooks.In</title>
    <link rel="icon" href="img/logo.webp" type="image/x-icon">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" media="screen and (min-width: 501px) and (max-width: 1000px)" href="/css/tablet.css">
    <link rel="stylesheet" media="screen and (max-width: 500px)" href="/css/phone.css">
</head>

<body>
    <nav class="navbar flex-colunm"></nav>

    <div id="top_btn" onclick="topFunction()" class="unselectable">
        <button id="myBtn" class="unselectable" title="Go to top" type="button">
            <svg id="topbtn" viewBox="0 0 330 330">
                <defs>
                    <linearGradient gradientUnits="userSpaceOnUse" x1="165" y1="75" x2="165" y2="255" id="gradient-0">
                        <stop offset="0" style="stop-color: rgba(0, 46, 111, 1)"></stop>
                        <stop offset="1" style="stop-color: rgba(0, 4, 9, 1)"></stop>
                    </linearGradient>
                </defs>
                <path id="XMLID_224_"
                    d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394 l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393 C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z">
                </path>
            </svg>
        </button>
    </div>

    <section class="video-background">
        <video id="hero-video" autoplay loop muted>
            <source src="img/hero.mp4" type="video/mp4">
        </video>
        <div class="content h-col color">
            <h1 class="h-primary">Discover your favorite Books <br> from Millions of Collections</h1>
            <p class="h-6"> Get all your Books Delivered at <br> the comfort of your Home<br></p>
            <a class="btn" rel="noopener noreferrer"
                onclick="location.href='https://play.google.com/store/apps/details?id=com.Pageturners_tech.book_Land_AIA_store';">Shop
                Now</a>
        </div>
    </section>

    <section class="slideshowimgslider">
        <!-- Slideshow container -->
        <div class="slideshow-container">

            <div class="mySlides fade">
                <a href="" target="_blank" rel="noopener noreferrer">
                    <video class="imgslider-content w-full" autoplay loop muted
                        data-mobile-src="slideshow/img1_mobile.mp4" data-desktop-src="slideshow/img1.mp4">
                    </video>
                </a>
                <!-- <div class="slideshow-text">Caption</div> -->
            </div>

            <div class="mySlides fade">
                <a href="" target="_blank" rel="noopener noreferrer">
                    <video class="imgslider-content w-full" autoplay loop muted
                        data-mobile-src="slideshow/img2_mobile.mp4" data-desktop-src="slideshow/img2.mp4">
                    </video>
                </a>
                <!--<div class="slideshow-text">Caption</div> -->
            </div>

            <div class="mySlides fade">
                <a href="" target="_blank" rel="noopener noreferrer">
                    <video class="imgslider-content w-full" autoplay loop muted
                        data-mobile-src="slideshow/img3_mobile.mp4" data-desktop-src="slideshow/img3.mp4">
                    </video>
                </a>
                <!--<div class="slideshow-text">Caption</div> -->
            </div>

            <div class="mySlides fade">
                <a href="/manga" target="_blank" rel="noopener noreferrer">
                    <video class="imgslider-content w-full" autoplay loop muted
                        data-mobile-src="slideshow/img4_mobile.mp4" data-desktop-src="slideshow/img4.mp4">
                    </video>
                </a>
                <!--<div class="slideshow-text">Caption</div> -->
            </div>

            <div class="mySlides fade">
                <a href="" target="_blank" rel="noopener noreferrer">
                    <video class="imgslider-content w-full" autoplay loop muted
                        data-mobile-src="slideshow/img5_mobile.mp4" data-desktop-src="slideshow/img5.mp4">
                    </video>
                </a>
                <!--<div class="slideshow-text">Caption</div> -->
            </div>

            <div class="mySlides fade">
                <a href="https://play.google.com/store/apps/details?id=com.Pageturners_tech.book_Land_AIA_store"
                    target="_blank" rel="noopener noreferrer">
                    <video class="imgslider-content w-full" autoplay loop muted
                        data-mobile-src="slideshow/img6_mobile.mp4" data-desktop-src="slideshow/img6.mp4">
                    </video>
                </a>
                <!--<div class="slideshow-text">Caption</div> -->
            </div>

            <!-- Dots -->
            <div class="center" id="dots"></div>
        </div>
    </section>

    <section id="categories" class="margin-top-bottom product-catalog-box">
        <div class="heading-box">
            <h1 class="headings">Categories</h1>
        </div>
        <button class="pre-btn flex item-center" aria-label="pre-btn"><img src="img/arrow.webp" alt=""></button>
        <button class="nxt-btn flex item-center" aria-label="next-btn"><img src="img/arrow.webp" alt=""></button>
        <div class="category-container flex" id="CATEGORY"></div>
    </section>

    <section id="bestsellers-section" class="margin-top-bottom product-catalog-box">
        <div class="heading-box">
            <h1 class="headings">Bestsellers</h1>
        </div>
        <button class="pre-btn flex item-center" aria-label="pre-btn"><img src="img/arrow.webp" alt=""></button>
        <button class="nxt-btn flex item-center" aria-label="next-btn"><img src="img/arrow.webp" alt=""></button>
        <div class="product-container flex" id="BESTSELLERS"></div>
        <!-- <span class="flex item-center h-6"><a href="" class="center view-more">View All</a></span> -->
    </section>

    <section id="affordable-picks-section" class="margin-top-bottom product-catalog-box">
        <div class="heading-box">
            <h1 class="headings">Affordable Picks</h1>
        </div>
        <button class="pre-btn flex item-center" aria-label="pre-btn"><img src="img/arrow.webp" alt=""></button>
        <button class="nxt-btn flex item-center" aria-label="next-btn"><img src="img/arrow.webp" alt=""></button>
        <div class="product-container flex" id="AFFORDABLE PICKS"></div>
        <!-- <span class="flex item-center h-6"><a href="" class="center view-more">View All</a></span> -->
    </section>

    <section id="self-help-section" class="margin-top-bottom product-catalog-box">
        <h2 class="h-mid">Self-Help</h2>
        <button class="pre-btn flex item-center" aria-label="pre-btn"><img src="img/arrow.webp" alt=""></button>
        <button class="nxt-btn flex item-center" aria-label="next-btn"><img src="img/arrow.webp" alt=""></button>
        <div class="product-container flex" id="SELF-HELP"></div>
        <!-- <span class="flex item-center h-6"><a href="" class="center view-more">View All</a></span> -->
    </section>

    <section id="romance-section" class="margin-top-bottom product-catalog-box">
        <h2 class="h-mid">Romance</h2>
        <button class="pre-btn flex item-center" aria-label="pre-btn"><img src="img/arrow.webp" alt=""></button>
        <button class="nxt-btn flex item-center" aria-label="next-btn"><img src="img/arrow.webp" alt=""></button>
        <div class="product-container flex" id="ROMANCE"></div>
        <!-- <span class="flex item-center h-6"><a href="" class="center view-more">View All</a></span> -->
    </section>

    <section id="fantasy-section" class="margin-top-bottom product-catalog-box">
        <h2 class="h-mid">Fantasy</h2>
        <button class="pre-btn flex item-center" aria-label="pre-btn"><img src="img/arrow.webp" alt=""></button>
        <button class="nxt-btn flex item-center" aria-label="next-btn"><img src="img/arrow.webp" alt=""></button>
        <div class="product-container flex" id="FANTASY"></div>
        <!-- <span class="flex item-center h-6"><a href="" class="center view-more">View All</a></span> -->
    </section>

    <section id="manga-section" class="margin-top-bottom product-catalog-box">
        <h2 class="h-mid">Manga</h2>
        <button class="pre-btn flex item-center" aria-label="pre-btn"><img src="img/arrow.webp" alt=""></button>
        <button class="nxt-btn flex item-center" aria-label="next-btn"><img src="img/arrow.webp" alt=""></button>
        <div class="product-container flex" id="MANGA"></div>
        <!-- <span class="flex item-center h-6"><a href="" class="center view-more">View All</a></span> -->
    </section>

    <section id="trading-section" class="margin-top-bottom product-catalog-box">
        <h2 class="h-mid">Trading</h2>
        <button class="pre-btn flex item-center" aria-label="pre-btn"><img src="img/arrow.webp" alt=""></button>
        <button class="nxt-btn flex item-center" aria-label="next-btn"><img src="img/arrow.webp" alt=""></button>
        <div class="product-container flex" id="TRADING"></div>
        <!-- <span class="flex item-center h-6"><a href="" class="center view-more">View All</a></span> -->
    </section>

    <section id="mythology-section" class="margin-top-bottom product-catalog-box">
        <h2 class="h-mid">Mythology</h2>
        <button class="pre-btn flex item-center" aria-label="pre-btn"><img src="img/arrow.webp" alt=""></button>
        <button class="nxt-btn flex item-center" aria-label="next-btn"><img src="img/arrow.webp" alt=""></button>
        <div class="product-container flex" id="MYTHOLOGY"></div>
        <!-- <span class="flex item-center h-6"><a href="" class="center view-more">View All</a></span> -->
    </section>

    <section id="gujarati-section" class="margin-top-bottom product-catalog-box">
        <h2 class="h-mid">Gujarati</h2>
        <button class="pre-btn flex item-center" aria-label="pre-btn"><img src="img/arrow.webp" alt=""></button>
        <button class="nxt-btn flex item-center" aria-label="next-btn"><img src="img/arrow.webp" alt=""></button>
        <div class="product-container flex" id="GUJARATI"></div>
        <!-- <span class="flex item-center h-6"><a href="" class="center view-more">View All</a></span> -->
    </section>

    <section id="business-&-entrepreneur-section" class="margin-top-bottom product-catalog-box">
        <h2 class="h-mid">Business & Entrepreneur</h2>
        <button class="pre-btn flex item-center" aria-label="pre-btn"><img src="img/arrow.webp" alt=""></button>
        <button class="nxt-btn flex item-center" aria-label="next-btn"><img src="img/arrow.webp" alt=""></button>
        <div class="product-container flex" id="BUSINESS & ENTREPRENEUR"></div>
        <!-- <span class="flex item-center h-6"><a href="" class="center view-more">View All</a></span> -->
    </section>

    <section id="personal-finance-section" class="margin-top-bottom product-catalog-box">
        <h2 class="h-mid">Personal Finance</h2>
        <button class="pre-btn flex item-center" aria-label="pre-btn"><img src="img/arrow.webp" alt=""></button>
        <button class="nxt-btn flex item-center" aria-label="next-btn"><img src="img/arrow.webp" alt=""></button>
        <div class="product-container flex" id="PERSONAL FINANCE"></div>
        <!-- <span class="flex item-center h-6"><a href="" class="center view-more">View All</a></span> -->
    </section>

    <section id="suspense-thriller-section" class="margin-top-bottom product-catalog-box">
        <h2 class="h-mid">Suspense Thriller</h2>
        <button class="pre-btn flex item-center" aria-label="pre-btn"><img src="img/arrow.webp" alt=""></button>
        <button class="nxt-btn flex item-center" aria-label="next-btn"><img src="img/arrow.webp" alt=""></button>
        <div class="product-container flex" id="SUSPENSE THRILLER"></div>
        <!-- <span class="flex item-center h-6"><a href="" class="center view-more">View All</a></span> -->
    </section>

    <section id="authors" class="margin-top-bottom product-catalog-box">
        <div class="heading-box">
            <h1 class="headings">Featured Authors</h1>
        </div>
        <button class="pre-btn flex item-center" aria-label="pre-btn"><img src="img/arrow.webp" alt=""></button>
        <button class="nxt-btn flex item-center" aria-label="next-btn"><img src="img/arrow.webp" alt=""></button>
        <div class="author-container flex" id="AUTHOR"></div>
    </section>

    <!--<section id="maps">-->
    <!--    <div class="map_container flex-colunm item-center center">-->
    <!--        <div class="heading-box">-->
    <!--            <h1 class="headings">Location</h1>-->
    <!--        </div>-->
    <!--        <iframe referrerpolicy="no-referrer-when-downgrade"-->
    <!--            src="https://www.google.com/maps/d/embed?mid=1djJ8pO0eUOaEDLy-Lb_hlu25929RWik&hl=en&ehbc=2E312F"-->
    <!--            style="border:none;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
    <!--    </div>-->
    <!--</section>-->

    <footer class="footer"></footer>

    <script>
        if (window.innerWidth < 650) {
            const videoElement = document.getElementById("hero-video");
            const videoBackground = document.querySelector(".video-background");
            videoElement.pause(); // Pause the video and remove the source to prevent loading
            videoElement.removeAttribute("src");
            videoElement.setAttribute("src", ""); // Set the video source to an empty string to prevent fallback loading
            videoBackground.style.display = "none";
        }
    </script>

    <script src="/js/top.js" defer></script>
    <script src="/js/imgs.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="/js/slideshow.js" defer></script>
    <script src="/js/product.js" defer></script>
    <script src="/js/addToCart.js" defer></script>

    <!-- <script src="https://code.tidio.co/ufriqkuzgsmydnrgsljmniwth2aedpfm.js" async></script> -->
</body>

</html>