.successHead {
    color: #008566;
}

.paymentBox {
    min-height: 45vh;
    padding: 20px;
}

.btn {
    margin-top: 2vh;
    border-radius: 6px;
}

.successImg {
    height: 40vh;
    width: auto;
}

@media screen and (max-width: 500px) {
    .paymentBox {
        min-height: 24vh;
    }

    .margin-top-bottom {
        margin: 0 2.25vw;
    }

    .h-primary {
        font-size: 7vw;
    }

    .successText {
        font-size: 4vw;
        margin: 1vh 1vw;
    }
}